@import url(https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300);
* {
  font-family: Open Sans, Arial;
}

body {
  background-color: #333333;
  overflow: hidden;
}

header {
  display: block;
  background-color: #333333;
  margin: 2% auto;
  color: white;
  text-align: center;
  font-family: "Pacifico";
  font-size: 5em;
}

#row1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
  font-size: 20px;
}
#row1 #length1, #row1 #length2 {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
}
#row1 #length1 div, #row1 #length2 div {
  display: inline;
}
#row1 #length1 .time, #row1 #length2 .time {
  font-size: 35px;
  padding-left: 10px;
  padding-right: 10px;
}
#row1 #length1 .minus, #row1 #length1 .plus, #row1 #length2 .minus, #row1 #length2 .plus {
  background-color: #333333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 2em;
  outline: none;
}

#circle {
  margin: 0 auto;
  text-align: center;
  width: 300px;
  height: 300px;
  font-size: 4em;
  border: 2px solid #99CC00;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 20;
  overflow: hidden;
  color: white;
}
#circle p {
  padding-top: 50px;
  text-align: center;
  color: white;
  font-size: 50px;
}
#circle #fill {
  position: absolute;
  background: #99CC00;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

footer {
  color: white;
  text-align: center;
  margin-top: 10px;
}
